
.leaflet-control-zoom {
  display: none;
}

div.leaflet-top.leaflet-left {
  z-index: 5000 !important;
}

.leaflet-left .leaflet-control {

}



  .leaflet-left .leaflet-control {
    margin-left: 0px;
    @include mq($from: tablet, $until: desktop) {
    
    }
    @include mq($from: desktop, $until: wide) {
 
    }
    @include mq($from: wide) {
    
    }
  }

.leaflet-popup-pane {
  @include mq($from: mobile, $until: tablet) {
    margin-top: 96px;
  }
 
  @include mq($from: tablet, $until: desktop) {

  }
  @include mq($from: desktop, $until: wide) {
      
  }
  @include mq($from: wide) {
    
  }
}


.leaflet-top .leaflet-control {
  margin-top: 1px;
}



.leaflet-popup-close-button:hover {
  color: red;
}
.leaflet-container {
  background: #D6CDCA !important;
}

.leaflet-marker-icon.leaflet-zoom-animated.leaflet-interactive {

}

.leaflet-container a.leaflet-popup-close-button {
  font: unset!important;
}

.leaflet-marker-icon:not(.polaroid):not(.circleMarker) {
  transform: none !important;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
  background: transparent;
  color: none;
  box-shadow: none
}

.leaflet-popup-content {
  font-family: 'Caveat', cursive;
}

#map:not(.leaflet-popup) {
 // opacity: 0.1 !important;
}


.leaflet-bottom.leaflet-left {
  background-image: url("../assets/logo.png") !important;
  background-repeat: no-repeat !important;
  background-size: contain;
  width: 138px;
  height: 50px;
  margin-left: 28px;
  transition: margin 400ms;

  @include mq($from: tablet, $until: desktop) {
    background-image: url("../assets/logo.png") !important;
    background-repeat: no-repeat !important;
    background-size: contain;
    width: 238px;
    height: 80px;
    }
  @include mq($from: desktop, $until: wide) {
    background-image: url("../assets/logo.png") !important;
    background-repeat: no-repeat !important;
    background-size: contain;
    width: 238px;
    height: 80px;
    margin-left: 128px;
  }
  @include mq($from: wide) {
    background-image: url("../assets/logo.png") !important;
    background-repeat: no-repeat !important;
    background-size: contain;
    width: 238px;
    height: 80px;
    margin-left: 180px;
    }

    &.hide-logo {
      margin-left: -238px;
      transition: margin 400ms;
    }

}


.hide-map {
  opacity: 0.2;
}

.unhide-map {
  opacity: 1 !important;
}

.markArrow {
  background-image: url("../assets/markArrow.png") !important;
  background-repeat: no-repeat !important;
}


//

.btn-block + .btn-block {
  margin-top: 5px;
}
.btn-social>:first-child {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 32px;
  line-height: 34px;
  font-size: 1.6em;
  text-align: center;
  border-right: 1px solid rgba(0,0,0,0.2);
}
.btn-facebook {
  color: #fff;
  background-color: #3b5998;
  border-color: rgba(0,0,0,0.2);
}

.btn-social {
  position: relative;
  padding-left: 44px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn-block {
  display: block;
  width: 100%;
}

.fa-facebook-f:before, .fa-facebook:before {
  content: "\f09a";
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.btn {
  display: flex;
  font-family: sans-serif;
  justify-content: space-between;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  height: 26px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

a {
  color: black;
  text-decoration: none;
}

.btn-facebook:hover {
  color: #fff;
  background-color: #2d4373;
  border-color: rgba(0,0,0,0.2);
}
.fb-button {
  width: 328px;
}

.leaflet-container a {
  color: black;
}

.leaflet-left .leaflet-control {

  @include mq($from: tablet, $until: desktop) {
    margin-left: 13px;
    transition: margin 400ms;
  }
  @include mq($from: desktop, $until: wide) {
    margin-left: 128px;
    transition: margin 400ms;
  }
  @include mq($from: wide) {
    margin-left: 180px;
    transition: margin 400ms;
  }
}

.leaflet-top.leaflet-left {
  margin-top: 0px ;
  transition: margin 700ms;
    
  @include mq($from: tablet, $until: desktop) {

  }
  @include mq($from: desktop, $until: wide) {

  }
  @include mq($from: wide) {

    }
}

.leaflet-top.leaflet-left.hide-header {
  margin-top: -195px;
  transition: margin 700ms;
  @include mq($from: tablet, $until: desktop) {
   // margin-left:0px;
   margin-top: 0px;
   margin-left: -133px;
    }
  @include mq($from: desktop, $until: wide) {
    margin-left: -129px;
    margin-top: 0px;
  }
  @include mq($from: wide) {
    margin-top: 0px ;
    margin-left: -129px;

    }
}


.leaflet-bottom.leaflet-left.hide-logo {
  margin-top: -195px;
  transition: margin 700ms;
  @include mq($from: tablet, $until: desktop) {
    margin-top: 0px ;
    transition: margin 400ms;
    }
  @include mq($from: desktop, $until: wide) {
    margin-top: 0px ;
    transition: margin 400ms;
  }
  @include mq($from: wide) {
    margin-top: 0px ;
    transition: margin 400ms;
    }
}