.notes {
    font-size: 20px;
   
    @include mq($from: tablet, $until: desktop) {
        font-size: 23px;
    }
    @include mq($from: desktop, $until: wide) {
        font-size: 25px;
    }
    @include mq($from: wide) {
        font-size: 27px;
    }
}

.notepad-1 {
    display: flex;
    justify-content: flex-end;
    margin-top: 338px;
    
    transform: rotate(-19deg);
    @include mq($from: tablet, $until: desktop) {
        justify-content: start;
        margin-top: 260px;
        /* margin-right: 201px; */
        margin-left: 100px;

    }
    @include mq($from: desktop, $until: wide) {
        
        justify-content: flex-end;
        margin-left: 298px;
        margin-top: 519px;

    }

    @include mq($from: wide) {
        justify-content: flex-end;
        margin-top: 833px;
        margin-right: 139px;
    }



}
.notepad-2 {
    display: flex;
    justify-content: center;
    margin-top: 223px;
    @include mq($from: mobile, $until: desktop) {

 
    }

    @include mq($from: tablet, $until: desktop) {
        justify-content: start;
        margin-left: 191px;
        margin-top: 295px;
      

    }
    @include mq($from: desktop, $until: wide) {
        margin-top: 133px;
    }
    @include mq($from: wide) {
        margin-top: 38px;
    }

}

.notepad-3 {
    display: flex;
    justify-content: center;
    margin-top: 652px;
    @include mq($from: tablet, $until: desktop) {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        margin-right: 114px;
        margin-top: 187px;
    }
    @include mq($from: desktop, $until: wide) {
        justify-content: flex-end;
        margin-right: 326px;
        margin-top: 138px;
        

    }
    @include mq($from: wide) {
        justify-content: flex-end;
        margin-top: 309px;
        margin-right: 474px;
    }
}

 
.notepad-4 {
    display: flex;
    justify-content: center;
    margin-top: 566px;
  

    @include mq($from: tablet, $until: desktop) {
        justify-content: flex-end;
        margin-top: 84px;
        display: flex;
        margin-right: 18px;
        margin-top: 59px;
 

    }

    @include mq($from: desktop, $until: wide) {
        justify-content: end;
        margin-top: 84px;
        flex-direction: row-reverse;
        /* margin-left: 1px; */
        margin-right: 110px;
    }

    @include mq($from: wide) {
        justify-content: end;
        margin-top: 192px;
        flex-direction: row-reverse;
        /* margin-left: 1px; */
        margin-right: 274px;
    }
}

.notepad-5 {
    display: flex;
    justify-content: center;
    margin-top: 645px;

    @include mq($from: tablet, $until: desktop) {
        display: flex;
        justify-content: flex-start;
        margin-top: 16px;
        margin-left: 56px;
    }
    @include mq($from: desktop, $until: wide) {
        display: flex;
        justify-content: flex-start;
        margin-top: -147px;
        margin-left: 121px;
    }

    @include mq($from: wide) {
        justify-content: flex-start;
        margin-top: 117px;
        margin-left: 240px;
    
    }
}

.notepad-6 {
    display: flex;
    justify-content: flex-start;
    margin-top: 614px;
    margin-left: 23px;


    @include mq($from: tablet, $until: desktop) {
        display: flex;
        justify-content: center;
        margin-top: 23px;
    }
    @include mq($from: desktop, $until: wide) {
        display: flex;
        justify-content: center;
        margin-top: 23px;
    }

    @include mq($from: wide) {
        justify-content: center;
        margin-top: 172px;
    }
}


.notepad__container {
    font-family: 'Caveat', cursive;
    .notepad__wrapper {
        height: 205px;
        padding-top: 33px;

        @include mq($from: tablet, $until: desktop) {
            height: 205px;
            padding-top: 33px;
            padding: 45px;
        }
        @include mq($from: desktop, $until: wide) {
            height: 205px;
            padding-top: 33px;
            padding: 52px;
            
        }
        @include mq($from: wide) {
            height: 205px;
            padding-top: 33px;
            padding: 58px;
            
        }
        
        &.notepad__wrapper-1 {
            width: 285px;
            background-image: url("../assets/Postit_1.png");
            background-repeat: no-repeat;
            transform: rotate(13deg);

            @include mq($from: tablet, $until: desktop) {
                background-image: url("../assets/Postit_1@2x.png");
                background-repeat: no-repeat;
                background-size: contain;
                width: 285px;
                transform: rotate(13deg);
            }
            @include mq($from: desktop, $until: wide) {
                background-image: url("../assets/Postit_1@2x.png");
                background-repeat: no-repeat;
                background-size: contain;
                width: 285px;



                transform: rotate(13deg);
            }
            @include mq($from: wide) {
                background-image: url("../assets/Postit_1@2x.png");
                width: 285px;

                background-repeat: no-repeat;
                background-size: contain;
                transform: rotate(13deg);
            }

            .notepad__text {
                transform: rotate(-4deg);
                margin-left: 29px;
                margin-top: 18px;
                width: 80%;


                @include mq($from: tablet, $until: desktop) {
                    transform: rotate(-4deg);
                    margin-left: 5px;
                    margin-top: 18px;
                }
                @include mq($from: desktop, $until: wide) {
                    transform: rotate(-4deg);
                    margin-left: 18px;
                    margin-top: 3px;
                }
                @include mq($from: wide) {
                    transform: rotate(-4deg);
                    margin-left: 18px;
                    margin-top: 3px;
                }
                
            }

        }
        &.notepad__wrapper-2 {
            width: 285px;
            transform: rotate(-10deg);
            background-image: url("../assets/Postit_2.png");
            background-repeat: no-repeat;
            background-size: contain;

            @include mq($from: tablet, $until: desktop) {
                background-image: url("../assets/Postit_2@2x.png");
                background-size: contain;

            }
            @include mq($from: desktop, $until: wide) {
                background-image: url("../assets/Postit_2@2x.png");
                background-size: contain;

            }
            @include mq($from: wide) {
                background-image: url("../assets/Postit_2@2x.png");
                background-size: contain;
            }

            .notepad__text {
                transform: rotate(4deg);
                width: 77%;
                margin-left: 30px;
                margin-top: 11px;
                @include mq($from: tablet, $until: desktop) {
                    transform: rotate(3deg);
                    width: 84%;
                    margin-left: 18px;
                    margin-top: 11px;
                }
                @include mq($from: desktop, $until: wide) {
                    transform: rotate(3deg);
                    width: 84%;
                    margin-left: 18px;
                    margin-top: 11px;
                }
                @include mq($from: wide) {
                    transform: rotate(3deg);
                    width: 84%;
                    margin-left: 18px;
                    margin-top: 11px;
                }
            }

        }
        &.notepad__wrapper-3 {
            width: 227px;
            background-image: url("../assets/Postit_3.png");
            background-repeat: no-repeat;


            @include mq($from: tablet, $until: desktop) {
                background-image: url("../assets/Postit_3@2x.png");
                background-size: contain;
            }
            @include mq($from: desktop, $until: wide) {
                background-image: url("../assets/Postit_3@2x.png");
                background-size: contain;
            }
            @include mq($from: wide) {
                background-image: url("../assets/Postit_3@2x.png");
                background-size: contain;
            }

            .notepad__text {
                transform: rotate(1deg);
                margin-left: 22px;
                margin-top: 9px;

                @include mq($from: tablet, $until: desktop) {
                    transform: rotate(1deg);
                    margin-left: 0px;
                    margin-top: -2px;
                }
                
                @include mq($from: desktop, $until: wide) {
                    transform: rotate(1deg);
                    margin-left: 0px;
                    margin-top: -2px;
                }
                
                @include mq($from: wide) {
                    transform: rotate(1deg);
                    margin-left: 0px;
                    margin-top: -2px;
                }
                
            }


        }
        &.notepad__wrapper-4 {
            width: 285px;
          //  padding-top: 17px !important;
            background-image: url("../assets/Postit_5.png");
            background-repeat: no-repeat;


            @include mq($from: tablet, $until: desktop) {
                background-image: url("../assets/Postit_5@2x.png");
                background-size: contain;
            }
            @include mq($from: desktop, $until: wide) {
                background-image: url("../assets/Postit_5@2x.png");
                background-size: contain;
            }
            @include mq($from: wide) {
                background-image: url("../assets/Postit_5@2x.png");
                background-size: contain;
            }

            .notepad__text {
                transform: rotate(0deg);
                margin-left: 22px;
                width: 74%;
                margin-top: -8px;

                @include mq($from: tablet, $until: desktop) {
                    transform: rotate(0deg);
                    margin-left: 6px;
                    
                    width: 89%;
                    margin-top: -22px;
                
                }
                @include mq($from: desktop, $until: wide) {
                    transform: rotate(0deg);
                    margin-left: 6px;
                    
                    width: 89%;
                    margin-top: -22px;
                }
                
                @include mq($from: wide) {
                    transform: rotate(0deg);
                    margin-left: 6px;
                    
                    width: 89%;
                    margin-top: -22px;
                }
            }

        }
        &.notepad__wrapper-5 {
            width: 285px;
            background-image: url("../assets/Postit_5.png");
            background-repeat: no-repeat;
            margin-top: 11px;

            @include mq($from: tablet, $until: desktop) {
                background-image: url("../assets/Postit_5@2x.png");
                background-size: contain;
            }
            @include mq($from: desktop, $until: wide) {
                background-image: url("../assets/Postit_5@2x.png");
                background-size: contain;
            }
            @include mq($from: wide) {
                background-image: url("../assets/Postit_5@2x.png");
                background-size: contain;
                margin-top: -175px;
            }
            
            .notepad__text {
                width: 73%;
                margin-left: 23px;

                @include mq($from: tablet, $until: desktop) {
                    width: 94%;
                    margin-left: -4px;
                    transform: rotate(1deg);
                }
                @include mq($from: desktop, $until: wide) {
                    width: 94%;
                    margin-left: -4px;
                    transform: rotate(1deg);
                }
                @include mq($from: wide) {
                    width: 94%;
                    margin-left: -4px;
                    transform: rotate(1deg);
                }
            }

            
        }
        &.notepad__wrapper-6 {
            width: 296px;
            background-image: url("../assets/Postit_6@2x.png");
            background-repeat: no-repeat;
            background-size: contain;
            @include mq($from: tablet, $until: desktop) {
                background-image: url("../assets/Postit_6@2x.png");
                background-size: contain;
            }
            @include mq($from: desktop, $until: wide) {
                background-image: url("../assets/Postit_6@2x.png");
                background-size: contain;
            }
            @include mq($from: wide) {
                background-image: url("../assets/Postit_6@2x.png");
                background-size: contain;
            }

            .notepad__text {
                transform: rotate(1deg);
                margin-top: 1px;
                margin-left: 22px;
                width: 74%;

                @include mq($from: tablet, $until: desktop) {
                    transform: rotate(1deg);
                    margin-top: -6px;
                    margin-left: -3px;
                    width: 87%;
                }
                @include mq($from: desktop, $until: wide) {
                    transform: rotate(1deg);
                    margin-top: -28px;
                    margin-left: -3px;
                    width: 99%;
                }
                @include mq($from: wide) {
                    transform: rotate(1deg);
                    margin-top: -15px;
                    margin-left: -16px;
                    width: 99%;
                }
            }

        }




    
    }

}