.tab__container {
    margin-top: -126px !important;
    @include mq($from: tablet) {
    margin-top: -54px !important;
    outline: none;
    }
}

.leaflet-right {
/* margin-bottom: 25%; */
    @include mq($from: tablet, $until: desktop) {
    //   margin-bottom: 12%;
    }
    @include mq($from: desktop, $until: wide) {
        //margin-bottom: 14%;
    }
    @include mq($from: wide) {
    margin-right: -13px;
    }
    
}

.field {
    position: absolute;
    margin-left: -374px;
    z-index: 3;
    @include mq($from: tablet) {
        position: absolute;
        margin-left: -374px;
        z-index: 3;
    }
    .field__wrapper {
        background-image: url("../assets/fieldFolder.png") !important;
        background-repeat: no-repeat !important;
        width: 332px;
        height: 852px;
        padding-bottom: -5px;
        transition: 0.5s all ease;
        @include mq($from: tablet, $until: desktop) {
            background-image: url("../assets/fieldFolder@2x.png") !important;
            background-repeat: no-repeat !important;
            width: 600px;
                height: 968px;
            padding-bottom: -5px;
            // padding-left: 48px;
            // padding-top: 51px;
            //padding-right: 49px;
            transition: 0.5s all ease;
            outline: none;
        }
        @include mq($from: desktop, $until: wide) {
            background-image: url("../assets/fieldFolder@2x.png") !important;
            background-repeat: no-repeat !important;
            width: 600px;
                height: 968px;
            padding-bottom: -5px;
            // padding-left: 48px;
            // padding-top: 51px;
            //padding-right: 49px;
            transition: 0.5s all ease;
            outline: none;
        }

        @include mq($from: wide) {
            background-image: url("../assets/fieldFolder@2x.png") !important;
            background-repeat: no-repeat !important;
            width: 640px;
                height: 968px;
            padding-bottom: -5px;
            // padding-left: 48px;
            // padding-top: 51px;
            //padding-right: 49px;
            transition: 0.5s all ease;
            outline: none;
        }
    }
}

.options {
    font-family: 'Caveat', cursive;
    font-size: 19px;
    position: absolute;
    margin-top: 2px;
    height: 340px;
    margin-left: -375px;
    height: 515px;
    z-index: 1;
    @include mq($from: tablet) {
        font-family: 'Caveat', cursive;
        font-size: 22px;
        position: absolute;
        margin-top: 2px;
        height: 340px;
        margin-left: -375px;
        height: 515px;
        z-index: 1;
    }
}

.options__container {
    background-image: url("../assets/options.png") !important;
    background-repeat: no-repeat !important;
    width: 400px;
    height: 873px;
    padding-bottom: -5px;
    transition: 0.5s all ease;
    @include mq($from: tablet) {
        background-image: url("../assets/options@desktop.png") !important;
        background-repeat: no-repeat !important;
        width: 400px;
        height: 873px;
        padding-bottom: -5px;
        // padding-left: 48px;
        // padding-top: 51px;
        //padding-right: 49px;
        transition: 0.5s all ease;
    }
}

.instructions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 39%;
    padding-top: 272px;
    margin: auto;
    @include mq($from: tablet) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 45%;
        padding-top: 193px;
        margin: auto;
    }
    .cross__wrapper {
        display: flex;
        justify-content: flex-end;
        @include mq($from: tablet) {
            display: flex;
            justify-content: flex-end;
        }
        .cross {
            background-image: url("../assets/cross.png") !important;
            background-repeat: no-repeat !important;
            width: 20px;
            padding-top: 21px;
            display: flex;
            justify-content: flex-end;
            height: 20px;
            background-repeat: no-repeat !important;
            @include mq($from: tablet) {
                background-image: url("../assets/cross.png") !important;
                background-repeat: no-repeat !important;
                width: 20px;
                padding-top: 21px;

                display: flex;
                justify-content: flex-end;
                height: 20px;
                background-repeat: no-repeat !important;
            }
        }
    }

    .instructions__signout {
        margin-top: 12px;
    }
    .instructions__terms {
        margin-top: 12px;
    }
}

.field__wrapper-open {

    padding-left: 189px;
    transition: 0.5s all ease;
    margin-left: -303px;

    @include mq($from: tablet) {

        padding-left: 399px;
        transition: 0.5s all ease;
        margin-left: -656px;

    }
}



.field__wrapper-close {
    padding-left: 0px;
    transition: 0.5s all ease;
    transition: 0.5s all ease;
    @include mq($from: tablet) {
        padding-left: 0px;
        transition: 0.5s all ease;
        transition: 0.5s all ease;
    }
}


/* Facebook Tab */

.fb_post_container {
    position: absolute;
    top: 517px;
    right: -22px;
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
    height: 38%;
    width: 350px;
    @include mq($from: tablet) {
        zoom: 0.8; 
    }
    /* margin-bottom: 25%; */
    @include mq($from: tablet, $until: desktop) {

    }
    @include mq($from: desktop, $until: wide) {

    }
    @include mq($from: wide) {
        // padding-left: 473px;
    }

    &.fb_post_container--open {
        padding: 20px;
        margin-right: 415px;

    }
}



.fb_post_container.fb_post_container__closed {
    transition: 0.5s all ease;
    margin-left: 0px;
}

.field__wrapper-open .field__tab-click {
    margin-left: -266px;
    position: absolute;
    top: 517px;
    padding-left: 128px;
    height: 38%;
    @include mq($from: tablet) {
        margin-left: -398px;
        position: absolute;
        top: 610px;
        padding-left: 98px;
        height: 38%;
    }
}

.field__wrapper-closed .field__tab-click {
    margin-left: -2px;
    position: absolute;
    top: 517px;
    padding-left: 91px;
    height: 38%;
    width: -10px;
    @include mq($from: tablet) {
        margin-left: -2px;
        position: absolute;
        top: 666px;
        padding-left: 91px;
        height: 22%;
        width: -10px;
    }
}


.fb_post_container.fb_post_container__opened {
    transition: 0.5s all ease;
    margin-left: -373px;
    @include mq($from: tablet) {
        transition: 0.5s all ease;
        margin-left: -361px;
        position: absolute;
        top: 141px;
        /* padding-left: 170px; */
        -webkit-overflow-scrolling: touch;
        overflow-y: scroll;
        overflow-x: hidden;
        height: 80%;
        width: 531px;
        /* padding-right: 5px; */
        right: 600px;
        padding: 33px;
        background: white;
    }
}


.fb_post_container.fb_post_container__closed {
    @include mq($from: tablet) {
     transition: 0.5s all ease;
     margin-left: 0px;
    }
}

.field__wrapper .field__wrapper-close .field__tab-click {
    @include mq($from: tablet) {
        text-decoration: none;
    }
}

.options__container.options__container-open {
    
    @include mq($from: tablet) {
        margin-left: -10px;
    }
}

.options__container:focus {
    @include mq($from: tablet) {
        padding-left: 299px;
        transition: 2.15s all ease;
    }
}

.options.leaflet-control.onTop {
    @include mq($from: tablet) {
        margin-left: -677px;
    }
}

.options.leaflet-control {
    
    @include mq($from: tablet) {
        transition: 0.5s all ease;
    }
}
    
.leaflet-top.leaflet-left {
    @include mq($from: tablet) {
        display: flex;
        flex-direction: column;
    }
}


iframe {
    @include mq($from: tablet) {
        width: 514px !important;
    }
}




.leaflet-right .leaflet-control {
    @include mq($from: desktop, $until: wide) {
    margin-right: -71px !important;
    }
}