.profile {
  background-image: url("../assets/profileTexture.png") !important;

  background-repeat: no-repeat;
  background-size: contain;
  padding: 14px;
  margin-top: -5px;
  margin-left: 4px;

    @include mq($from: tablet, $until: desktop) {
      background-image: url("../assets/profileTexture@desktop.png") !important;
      background-repeat: no-repeat;
      background-size: contain;
      margin-top: 8px;
      margin-left: 6px;
      padding: 19px;
      cursor: pointer;
  }

    }
    @include mq($from: desktop, $until: wide) {

    }
    @include mq($from: wide) {
      background-image: url("../assets/profileTexture@desktop.png") !important;
      background-repeat: no-repeat;
      background-size: contain;
      padding: 17px;
      margin-top: 21px;
      margin-left: 7px;
    }

      .profile__container {
        margin-left: 1px;
        margin-top: 10px;
        @include mq($from: tablet, $until: desktop) {
          margin-left: 0px;
          margin-top: 9px;

        }
        @include mq($from: desktop, $until: wide) {
          margin-left: 0px;
          margin-top: 9px;
        }
        @include mq($from: wide) {
        }



        .profile__picture {
          background-repeat: no-repeat;
          background-size: contain;
          width: 62px;
          margin-top: -20px;
          margin-left: -5px;
          transform: rotate(-6deg);
          @include mq($from: tablet, $until: desktop) {
            background-repeat: no-repeat;
            background-size: contain;
            width: 69px;
            margin-top: -20px;
            margin-left: -5px;
            transform: rotate(-6deg);        
           }
          @include mq($from: desktop, $until: wide) {

          }
          @include mq($from: wide) {
            background-repeat: no-repeat;
            background-size: contain;
            width: 85px;
            margin-top: -13px;
            margin-left: -5px;
            transform: rotate(-6deg);
          }

        }
      
    }