.tab__container {
    margin-top: -72px !important;

    @include mq($from: tablet, $until: desktop) {
        margin-left: -374px;
        }
    @include mq($from: desktop, $until: wide) {
        margin-top: -54px !important;
        outline: none;
    }
    @include mq($from: wide) {
        margin-top: -54px !important;
        outline: none;
        }
    @include mq($from: tablet) {

    }
}

.leaflet-right {
/* margin-bottom: 25%; */
    @include mq($from: tablet, $until: desktop) {
        margin-right: -13px;
        top: 108px;
    }
    @include mq($from: desktop, $until: wide) {
        margin-right: -13px;
        top: 108px;
    }
    @include mq($from: wide) {
        margin-right: -13px;
        top: 108px;
    }
    
}

.field {
    position: absolute;
    margin-left: -307px;
    z-index: 3;
    top: -208px;
  

    @include mq($from: tablet, $until: desktop) {
        margin-left: -374px;
        top: -14px;
        }
    @include mq($from: desktop, $until: wide) {
        margin-left: -374px;
        top: -14px;
    }
    @include mq($from: wide) {
        margin-left: -370px;
        top: -14px;
        }

    &.field--open {
        top: -88px;
        margin-left: -256px;
        @include mq($from: tablet, $until: desktop) {
            top: -14px;
            }
        @include mq($from: desktop, $until: wide) {
            top: -14px;
        }
        @include mq($from: wide) {
            top: -14px;
            }
    }
    .field__wrapper {
        background-image: url("../assets/fieldNotesm.png") !important;
        background-repeat: no-repeat !important;
        background-size: contain;
        width: 953px;
        height: 833px;
        padding-bottom: -5px;
        transition: margin 700ms;
       //. transition: 0.5s all ease;
        @include mq($from: tablet, $until: desktop) {
            background-image: url("../assets/fieldFolder@2x.png") !important;
            background-repeat: no-repeat !important;
           
                height: 968px;
            padding-bottom: -5px;
            // padding-left: 48px;
            // padding-top: 51px;
            //padding-right: 49px;
         //   transition: 0.5s all ease;
            outline: none;
        }
        @include mq($from: desktop, $until: wide) {
            background-image: url("../assets/fieldFolder@2x.png") !important;
            background-repeat: no-repeat !important;
            height: 968px;
            padding-bottom: -5px;
            // padding-left: 48px;
            // padding-top: 51px;
            //padding-right: 49px;
           // transition: 0.5s all ease;
            outline: none;
        }

        @include mq($from: wide) {
            background-image: url("../assets/fieldFolder@2x.png") !important;
            background-repeat: no-repeat !important;
            
            height: 968px;
            padding-bottom: -5px;
            // padding-left: 48px;
            // padding-top: 51px;
            //padding-right: 49px;
            transition: margin 700ms;
            outline: none;
        }

        &.field__wrapper-open {

            padding-left: 189px;
           // transition: 0.5s all ease;
            margin-left: -397px;
            top: -88px;
        
                @include mq($from: tablet, $until: desktop) {
                    margin-left: -570px;
                }
                @include mq($from: desktop, $until: wide) {
                    //margin-bottom: 14%;
                }
                @include mq($from: wide) {
                    padding-left: 399px;
                //    transition: 0.5s all ease;
                    margin-left: -656px;
                    height: 893px;
                    
                }
        }
    }
}

.options.leaflet-control {
    font-family: 'Caveat', cursive;
    font-size: 19px;
    position: absolute;
    margin-top: 2px;
    height: 724px;
    margin-left: -353px;
    z-index: 1;
    
        @include mq($from: tablet, $until: desktop) {
            font-family: 'Caveat', cursive;
            font-size: 22px;
            position: absolute;
            margin-top: -30px !important;
            height: 340px;
            margin-left: -386px;
            height: 515px;
            z-index: 1;
        }
        @include mq($from: desktop, $until: wide) {
            font-family: 'Caveat', cursive;
            font-size: 22px;
            position: absolute;
            margin-top: -30px !important;
            height: 340px;
            margin-left: -386px;
            height: 515px;
            z-index: 1;
        }
        @include mq($from: wide) {
            font-family: 'Caveat', cursive;
            font-size: 22px;
            position: absolute;
            margin-top: -30px !important;
            height: 340px;
            margin-left: -386px;
            height: 515px;
            z-index: 1;
        }
        &.onTop {
            @include mq($from: tablet, $until: desktop) {

            }
            @include mq($from: desktop, $until: wide) {
            }
            @include mq($from: wide) {
                margin-top: -15px !important;
            }
        }

}



.options__container {
    background-image: url("../assets/options.png") !important;
    background-repeat: no-repeat !important;
    width: 400px;
    height: 873px;
    padding-bottom: -5px;
    transition: 0.5s all ease;
    @include mq($from: tablet) {
        background-image: url("../assets/options@desktop.png") !important;
        background-repeat: no-repeat !important;
        width: 400px;
        height: 873px;
        padding-bottom: -5px;
        // padding-left: 48px;
        // padding-top: 51px;
        //padding-right: 49px;
        transition: 0.5s all ease;
    }
}

.instructions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 39%;
    padding-top: 193px;
    padding-left: 62px;
    margin: auto;
    @include mq($from: tablet) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 45%;
        padding-top: 193px;
        margin: auto;
    }
    .cross__wrapper {
        display: flex;
        justify-content: flex-end;

        @include mq($from: tablet) {
            display: flex;
            justify-content: flex-end;
        }
        .cross {
            background-image: url("../assets/cross.png") !important;
            background-repeat: no-repeat !important;
            width: 20px;
            padding-top: 21px;
            display: flex;
            justify-content: flex-end;
            height: 20px;
            background-repeat: no-repeat !important;
            cursor: pointer;
            @include mq($from: tablet) {
                background-image: url("../assets/cross.png") !important;
                background-repeat: no-repeat !important;
                width: 20px;
                padding-top: 21px;

                display: flex;
                justify-content: flex-end;
                height: 20px;
                background-repeat: no-repeat !important;
            }
        }
    }
    .instructions__header {

        @include mq($from: tablet, $until: desktop) {
            //   margin-bottom: 12%;
            top: -71px;
            }
        @include mq($from: desktop, $until: wide) {
            //margin-bottom: 14%;
            margin-right: -13px;
            top: -71px;
        }
        @include mq($from: wide) {
            font-size: 30px;
            margin-left: 22px;
        }

    }

    .instructions__message {
        margin-top: 12px;
        cursor: pointer;
        @include mq($from: tablet, $until: desktop) {
            //   margin-bottom: 12%;
            top: -71px;
            }
        @include mq($from: desktop, $until: wide) {
            //margin-bottom: 14%;
            margin-right: -13px;
            top: -71px;
        }
        @include mq($from: wide) {

 
        }

    }


    .instructions__signout {
        margin-top: 12px;
        cursor: pointer;
        @include mq($from: tablet, $until: desktop) {

        }
        @include mq($from: desktop, $until: wide) {
        }
        @include mq($from: wide) {
        }
    }
    .instructions__terms {
        margin-top: 12px;
        @include mq($from: tablet, $until: desktop) {

        }
        @include mq($from: desktop, $until: wide) {
        }
        @include mq($from: wide) {
        }
    }
}








.field__wrapper-close {
    padding-left: 0px;

    @include mq($from: tablet) {
        padding-left: 0px;

    }
}


/* Facebook Tab */

.fb_post_container {
    position: absolute;
    top: 337px;
    right: -166px;
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
    height: 50%;
    width: 291px;
    /* margin-bottom: 25%; */

 
    background: white;

    /* margin-bottom: 25%; */
    @include mq($from: tablet, $until: desktop) {
        position: absolute;
        top: 337px;
        right: -166px;
        -webkit-overflow-scrolling: touch;
        overflow-x: hidden;
        height: 50%;
        width: 291px;
    }
    @include mq($from: desktop, $until: wide) {
        position: absolute;
        top: 337px;
        right: -166px;
        -webkit-overflow-scrolling: touch;
        overflow-x: hidden;
        height: 50%;
        width: 291px;
    }
    @include mq($from: wide) {
        position: absolute;
        top: 337px;
        right: -166px;
        -webkit-overflow-scrolling: touch;
        overflow-x: hidden;
        height: 50%;
        width: 291px;
    }

    &.fb_post_container--open {
        padding: 20px;
        padding-left: 0px;
        padding-top: 0px;
        margin-right: 415px;
        

    }
}



.fb_post_container.fb_post_container__closed {
  //  transition: 0.5s all ease;
    margin-left: 0px;
}




.field__wrapper-open .field__tab-click {
    margin-left: -207px;
    position: absolute;
    top: 517px;
    padding-left: 128px;
    height: 38%;

    @include mq($from: tablet, $until: desktop) {

    }
    @include mq($from: desktop, $until: wide) {
        margin-left: -190px;
        
    }
    @include mq($from: wide) {
        margin-left: -398px;
        position: absolute;
        top: 610px;
        padding-left: 98px;
        height: 38%;
    }
}

.field__wrapper-closed .field__tab-click {
    margin-left: -2px;
    position: absolute;
    top: 660px;
    padding-left: 91px;
    height: 31%;
    width: -10px;
    transition: margin 700ms;
    @include mq($from: tablet, $until: desktop) {
        margin-right: -250px;
        top: 636px;
       }
    @include mq($from: desktop, $until: wide) {

        margin-left: -2px;
        position: absolute;
        top: 666px;
        padding-left: 91px;
        height: 22%;
        width: -10px;

        }
    @include mq($from: wide) {
        margin-left: -2px;
        position: absolute;
        top: 607px;
        padding-left: 91px;
        height: 31%;
    }


}


.fb_post_container.fb_post_container__opened {
    transition: 0.5s all ease;
    margin-left: -373px;
    right: 731px;

    @include mq($from: tablet, $until: desktop) {
        transition: 0.5s all ease;
        margin-left: -361px;
        position: absolute;
        top: 252px;
        /* padding-left: 170px; */
        -webkit-overflow-scrolling: touch;
        overflow-y: scroll;
        overflow-x: hidden;
        height: 62%;
        width: 507px;
        /* padding-right: 5px; */
        right: 481px;
        padding: 33px;
        background: white;
        
    }
    @include mq($from: desktop, $until: wide) {
        transition: 0.5s all ease;
        margin-left: -361px;
        position: absolute;
        top: 180px;
        /* padding-left: 170px; */
        -webkit-overflow-scrolling: touch;
        overflow-y: scroll;
        overflow-x: hidden;
        height: 62%;
        width: 413px;
        /* padding-right: 5px; */
        right: 585px;
        padding: 33px;
        background: white;

    }
    @include mq($from: wide) {
        transition: 0.5s all ease;
        margin-left: -361px;
        position: absolute;
        top: 204px;
        /* padding-left: 170px; */
        -webkit-overflow-scrolling: touch;
        overflow-y: scroll;
        overflow-x: hidden;
        height: 62%;
        width: 517px;
        /* padding-right: 5px; */
        right: 656px;
        padding: 33px;
        background: white;
    }
}


.fb_post_container.fb_post_container__closed {
    @include mq($from: tablet) {
    // transition: 0.5s all ease;
     margin-left: 0px;
    }
}

.field__wrapper .field__wrapper-close .field__tab-click {
    @include mq($from: tablet) {
        text-decoration: none;
    }
}

.options__container.options__container-open {
    
    @include mq($from: tablet) {
        margin-left: -10px;
    }
}

.options__container:focus {
   // transition: 2.15s all ease;
    @include mq($from: tablet) {
        padding-left: 299px;
        transition: 2.15s all ease;
    }
}

//  this is what brings options tab out when clicked

.options.leaflet-control.onTop {
    margin-left: -604px;
    @include mq($from: tablet, $until: desktop) {
        margin-left: -677px;
    }
    @include mq($from: desktop, $until: wide) {
        margin-left: -677px;
    }
    @include mq($from: wide) {
        margin-left: -677px;
    }

}

.options.leaflet-control {
    transition: margin 700ms;
    @include mq($from: tablet) {
        transition: margin 700ms;
    }
}
    
.leaflet-top.leaflet-left {
    @include mq($from: tablet) {
        display: flex;
        flex-direction: column;
    }
}


iframe {
    @include mq($from: tablet) {
        width: 514px !important;
    }
}



.leaflet-right .leaflet-control {
    /* margin-bottom: 25%; */
    margin-right: -234px;
    @include mq($from: tablet, $until: desktop) {
         margin-right: -250px;
        }
    @include mq($from: desktop, $until: wide) {

        margin-right: -71px !important;

        }
    @include mq($from: wide) {
        margin-right: -71px !important;
    }
}

.field__wrapper.field__wrapper-closed {
    .field-text__container {
        display: none;
    }
}

.field__wrapper.field__wrapper-open {
    transition: margin 700ms;
    .field-text__container{
        padding-top: 195px;
        font-size: 32px;
        margin-left: -48px;
        transition: margin 700ms;
        

        @include mq($from: tablet, $until: desktop) {
            padding-top: 52px;
            font-size: 32px;
            /* margin-right: -246px; */
            margin-left: -19px;
            }
        @include mq($from: desktop, $until: wide) {

            padding-top: 52px;
            font-size: 32px;
            /* margin-right: -246px; */
            margin-left: -44px;

            }
        @include mq($from: wide) {
            padding-top: 52px;
            font-size: 35px;
            margin-left: -169px;
        }
        .field-text__title {
            margin-left: 24px;

            @include mq($from: tablet, $until: desktop) {

                }
            @include mq($from: desktop, $until: wide) {
    

    
            }
            @include mq($from: wide) {

            }
        }

        .field-text__cross {
            background-image: url("../assets/Exit_X.png") !important;
            background-repeat: no-repeat !important;
            width: 25px;
            height: 26px;
            margin-left: 101px;
            @include mq($from: tablet, $until: desktop) {
                background-image: url("../assets/Exit_X@2x.png") !important;
                background-repeat: no-repeat !important;
                width: 45px;
                height: 46px;
                margin-left: 179px;
                margin-bottom: 0px;
                margin-top: -20px;
            }
            @include mq($from: desktop, $until: wide) {
                background-image: url("../assets/Exit_X@2x.png") !important;
                background-repeat: no-repeat !important;

                width: 45px;
                height: 46px;
                margin-left: 191px;
                margin-bottom: 0px;
                margin-top: -32px;
 
            }
            @include mq($from: wide) {
                background-image: url("../assets/Exit_X@2x.png") !important;
                background-repeat: no-repeat !important;
                width: 45px;
                height: 46px;
                margin-left: 191px;
                margin-bottom: 0px;
                margin-top: -32px;

            }
        }
        

        .field-text__message {
           
            width: 280px;
            font-size: 16px;
                margin-top: 13px;

            @include mq($from: tablet, $until: desktop) {
                width: 353px;
                margin-top: 8px;
                font-size: 22px;
                }
            @include mq($from: desktop, $until: wide) {
                margin-top: 8px;
                font-size: 21px;
                width: 329px;
            }
            @include mq($from: wide) {
             
                width: 329px;
                font-size: 21px;
                margin-top: 12px;
            }
        }
    }
}

.field-text__header {
    display: flex;
}