.tomb-raider.app {

  @include media-query(lap-and-up) {
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 100%;
    width: 100%;
    overflow: visible;
  }

  // necessary to avoid scrolling the body when Layer is open
  &--hidden {
    position: fixed;
  }

  &--inline {
    position: relative;
  }

  &--centered {
    width: 100%;
    max-width: $center-column-width;
    margin-left: auto;
    margin-right: auto;
  }

  .app__announcer {
    left: -100%;
    right: 100%;
    z-index: -1;
    position: fixed;
  }
}


main {
  background-image: url("../assets/map.jpg");
  /* Full height */
  height: 100vh;
  width: 100%;
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
}

.map {
  height: 100vh;
}

.map__holder {
  position: relative;
}

.map__inner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.map__container {
  padding-top: 100vh;
  overflow: hidden;
  position: relative;
}

.panel {
  display: block;
  top: 50px;
  position: fixed;
  z-index: 2;
  margin-left: 2%;
}

html, body, #map {
  width:100%;
  height:100%;
  margin:0;
  padding:0;
  background-color: #B0B0B0
}

#map {
  position: absolute !important;
}

.leaflet-container {
  background: #D6CDCA !important;
}

.test-control{
  top: 50px;
  left: 100px;
  z-index: 3333;
}

.header__wrapper {
  text-decoration: white;
  background-image: url("../assets/headerTexture.png");
  background-repeat: no-repeat;
  padding: 95px 199px;
  margin-top: -83px;
  margin-left: -10px;
}

.search__container {
  text-decoration: white;
  background-image: url("../assets/searchTexture.png");
  background-repeat: no-repeat;
  padding: 91px 248px;
  margin-top: -65px;
  margin-left: -195px;
}

.search__input {
  height: 31px;
  width: 289px;
  background: transparent;
  outline: none;
  border: none !important;
  font-size: 26px;
  text-decoration: none;
}

.search__icon {
  background-image: url("../assets/searchIcon.png");
  background-repeat: no-repeat;

  padding: 50px;
  margin-top: -33px;
  margin-left: 292px;
}

.search__wrapper {
  margin-top: -79px;
  margin-left: -224px;
}

.profile {
  background-image: url("../assets/profileTexture.png");
  background-repeat: no-repeat;
  margin-top: 40px;
  background-size: contain;
  padding: 19px;
  margin-top: -242px;
  margin-left: -13px;

}

.profile__picture {
  background-repeat: no-repeat;
  background-size: contain;
  transform: rotate(-9deg);
  padding: 22px;
  margin-top: -21px;
  margin-left: -9px;
  
}

.leaflet-control-zoom {
  display: none;
}

.leaflet-left .leaflet-control {
  margin-left: 12px;
}

.leaflet-top .leaflet-control {
  margin-top: 84px;
}

.blueFolder__container {
  margin-top: -33px;
  margin-right: 292px;
}

.blueFolder__wrapper {
  background-image: url("../assets/blueFolder.png") !important;
  background-repeat: no-repeat !important;
  width: 280px;
  height: 570px;
  padding-bottom: 49px;
  padding-left: 48px;
  padding-top: 51px;
  padding-right: 49px;
}

.leaflet-right .leaflet-control {
  margin-right: -5px !important;
}

.challenge__container {
  padding: 20px;
}



 input, textarea {
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.challenge__wrapper {
  display: flex;
  margin-top: -259px;
  margin-left: 125px;
}

.challenge__1 {
  background-repeat: no-repeat !important;
  padding-top: 18px;
  padding-bottom: 10px;
  padding-left: -3px;
  padding-right: 0px;
}

.challenge__2 {
  background-repeat: no-repeat !important;
  padding-top: 18px;
  padding-bottom: 10px;
  padding-left: -3px;
  padding-right: 0px;
}

.challenge__3 {
  background-repeat: no-repeat !important;
  padding-top: 18px;
  padding-bottom: 10px;
  padding-left: -3px;
  padding-right: 0px;
}

.challenge__4 {
  background-repeat: no-repeat !important;
  padding-top: 18px;
  padding-bottom: 10px;
  padding-left: -3px;
  padding-right: 0px;
}

.challenge__5 {
  background-repeat: no-repeat !important;
  padding-top: 18px;
  padding-bottom: 10px;
  padding-left: -3px;
  padding-right: 0px;
}

.search__icon {
  cursor: pointer;
}
.profile__picture {
  cursor: pointer;
}