
.leaflet-control-zoom {
  display: none;
}

div.leaflet-top.leaflet-left {
  z-index: 5000 !important;
}

.leaflet-left .leaflet-control {
  margin-left: 108px;
}
@include media-query(palm) {
  .leaflet-left .leaflet-control {
    margin-left: 0px;
  }
}

.leaflet-top .leaflet-control {
  margin-top: 1px;
}


.leaflet-right .leaflet-control {
  margin-right: -305px !important;
}


.leaflet-container {
  background: #D6CDCA !important;
}

.leaflet-marker-icon.leaflet-zoom-animated.leaflet-interactive {

}

.leaflet-marker-icon:not(.polaroid):not(.circleMarker) {
  transform: none !important;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
  background: transparent;
  color: none;
  box-shadow: none
}

.leaflet-popup-content {
  font-family: 'Caveat', cursive;
}

#map:not(.leaflet-popup) {
 // opacity: 0.1 !important;
}

.logo__control {
  background-image: url("../assets/logo.png") !important;
  background-repeat: no-repeat !important;
  width: 238px;
  height: 61px;
}

@include media-query(palm) {
  .logo__control {
    background-image: url("../assets/logo.png") !important;
    background-repeat: no-repeat !important;
    background-size: contain;
    width: 138px;
    height: 61px;
}
}

.hide-map {
  opacity: 0.2;
}

.unhide-map {
  opacity: 1 !important;
}