.landing {
    display: flex;
    flex-direction: column;

    background-image: url("/images/landing.jpg");
    background-repeat: no-repeat;
    overflow-y: hidden;
    height: 5006px;
    overflow-x: hidden;

    @include mq($from: tablet, $until: desktop) {
        background-image: url("/images/landing@2x.jpg");
        background-repeat: no-repeat;
        height: 3053px;
     //   height: 2037px;
    }


    @include mq($from: desktop, $until: wide) {
        background-image: url("/images/landing@2x.jpg");
        background-repeat: no-repeat;
        height: 3053px;
    }


    @include mq($from: wide) {
        background-image: url("/images/landing@2x.jpg");
        background-repeat: no-repeat;
        height: 4000px;
    }
}


.landing__container {
    height: 5005.99px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}



.logo {
    display: flex;
    justify-content: center;
    margin-top: 40px;

    @include mq($from: tablet, $until: desktop) {
        margin-top: 57px;
        
    }
    @include mq($from: desktop, $until: wide) {
        margin-top: 57px;
    }
    @include mq($from: wide) {
        margin-top: 57px;
    }

    .logo__image {
        background-image: url("../assets/TombRaider_logo_mobile.png");
        background-repeat: no-repeat;
        width: 249px;
        height: 66px;
        margin-top: 17px;
        //height: 40px;
        //width: 40px;
        @include mq($from: tablet) {
            background-image: url("../assets/logo@desktop.png");
            background-repeat: no-repeat;
            width: 328px;
            height: 82px;
            margin-top: 17px;
        }
    }


    @include mq($from: tablet) {
        .logo__image {
            background-image: url("../assets/logo@desktop.png");
            background-repeat: no-repeat;
            width: 328px;
            height: 82px;
            margin-top: 17px;
            //height: 40px;
            //width: 40px;
        }
    }
}


.notes {
    margin-top: 80%;
    @include mq($from: tablet, $until: desktop) {
        margin-top: 29%;
        margin-left: 38%;
    }
    @include mq($from: desktop, $until: wide) {
        margin-top: 51%;
    }
    @include mq($from: wide) {
        margin-top: 57%;
    }
}

.notepad-1 {
    display: flex;
    justify-content: flex-end;
    margin-right: 28%;
    
    transform: rotate(-19deg);
    @include mq($from: tablet, $until: desktop) {

        margin-top: 19%;
        margin-right: 41%;
    }
    @include mq($from: desktop, $until: wide) {
        margin-top: 1%;
        margin-right: 36%;
    }

    @include mq($from: wide) {
        margin-top: -5%;
        margin-right: 4%;
    }



}
.notepad-2 {
    display: flex;
    justify-content: center;
    margin-top: 172px;

    @include mq($from: tablet, $until: desktop) {

        margin-left: -123%;
        margin-top: 16%;
    }
    @include mq($from: desktop, $until: wide) {
        margin-top: 12%;
        margin-right: 13%;
    }
    @include mq($from: wide) {
        margin-top: 2%;
        margin-right: 11%;
    }

}

.notepad-3 {
    display: flex;
    justify-content: center;
    margin-top: 167%;
    @include mq($from: tablet, $until: desktop) {
        margin-top: 51%;
        margin-left: -9%;
    }
    @include mq($from: desktop, $until: wide) {
        margin-top: 24%;
        margin-left: 25%;
    }
    @include mq($from: wide) {
        margin-top: 24%;
        margin-left: 21%;
    }
}

 
.notepad-4 {
    display: flex;
    justify-content: center;
    margin-top: 130%;

    @include mq($from: tablet, $until: desktop) {
        margin-top: 19%;

    }

    @include mq($from: desktop, $until: wide) {
        margin-top: 13%;
        margin-left: 65%;
    }

    @include mq($from: wide) {
        margin-top: 7%;
        margin-left: 38%;
    }
}

.notepad-5 {
    display: flex;
    justify-content: center;
    margin-top: 175%;
    @include mq($from: tablet, $until: desktop) {
        margin-top: 61%;
        margin-left: -102%;
    }
    @include mq($from: desktop, $until: wide) {
        margin-top: 2%;
        margin-left: -34%;
    }

    @include mq($from: wide) {
        margin-top: 2%;
        margin-left: -34%;
    }
}

.notepad-6 {
    display: flex;
    justify-content: flex-start;
    margin-top: 79%;
    margin-left: 13%;


    @include mq($from: tablet, $until: desktop) {
        margin-top: 20%;
        margin-left: 11%;
    }
    @include mq($from: desktop, $until: wide) {
        margin-left: 7%;
        margin-top: 17%;
    }

    @include mq($from: wide) {
            margin-top: 20%;
    margin-left: 10%;
    }
}


.notepad__container {
    font-family: 'Caveat', cursive;
    .notepad__wrapper {
        height: 205px;
        padding-top: 33px;
        @include mq($from: tablet) {
            height: 205px;
            padding-top: 33px;
        }
        
        &.notepad__wrapper-1 {
            width: 285px;
            background-image: url("../assets/Postit_1.png");
            background-repeat: no-repeat;
            transform: rotate(13deg);
            @include mq($from: tablet) {
                background-image: url("../assets/Postit_1@2x.png");
            }

            .notepad__text {
                transform: rotate(-4deg);
                margin-left: 40px;
                font-size: 24px;
                margin-top: 12px;
                @include mq($from: tablet) {

                }
                
            }

        }
        &.notepad__wrapper-2 {
            width: 285px;
            transform: rotate(-10deg);
            background-image: url("../assets/Postit_2.png");
            background-repeat: no-repeat;
            @include mq($from: tablet) {
                background-image: url("../assets/Postit_2@2x.png");
            }

            .notepad__text {
                transform: rotate(1deg);
                width: 84%;
                margin-left: 34px;
                margin-top: 11px;
                @include mq($from: tablet) {

                }
            }

        }
        &.notepad__wrapper-3 {
            width: 227px;
            background-image: url("../assets/Postit_3.png");
            background-repeat: no-repeat;
            @include mq($from: tablet) {
                background-image: url("../assets/Postit_3@2x.png");
            }

            .notepad__text {
                transform: rotate(-1deg);
                margin-left: 27px;
                font-size: 24px;
                margin-top: 4px;
            }


        }
        &.notepad__wrapper-4 {
            width: 285px;
          //  padding-top: 17px !important;
            background-image: url("../assets/Postit_5.png");
            background-repeat: no-repeat;
            @include mq($from: tablet) {
                background-image: url("../assets/Postit_5@2x.png");
            }

            .notepad__text {
                transform: rotate(0deg);
                margin-left: 22px;
                font-size: 22px;
                width: 74%;
                margin-top: -22px;
            }

        }
        &.notepad__wrapper-5 {
            width: 285px;
            background-image: url("../assets/Postit_5.png");
            background-repeat: no-repeat;
            @include mq($from: tablet) {
                background-image: url("../assets/Postit_5@2x.png");
            }
            .notepad__text {
                width: 73%;
                font-size: 24px;
                margin-left: 23px;
            }

            
        }
        &.notepad__wrapper-6 {
            width: 242px;
            background-image: url("../assets/Postit_6.png");
            background-repeat: no-repeat;
            @include mq($from: tablet) {
                background-image: url("../assets/Postit_6@2x.png");
            }
            .notepad__text {
                transform: rotate(1deg);
                font-size: 24px;
                margin-top: -18px;
                margin-left: 16px;
                width: 87%;
            }

        }


        .notepad__text {
            font-size: 24px;
        }

    
    }

}

.underline {
    background-repeat: repeat-x;
  }

.underline--bacon {
    background-image: url("../assets/underline.png");
    background-position: 0 1.06em;
    background-size: 28px 9px;

  }
  

.tc__tick {
    background-image: url("../assets/underline.png");
    background-repeat: no-repeat;
    width: 20px;
    height: 5px;
    background-size: contain;
}

footer {
    display: flex;
    justify-content: center;
}

.terms-and-conditions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
    letter-spacing: 1.5px;
    margin-bottom: 153px;
    @include mq($from: tablet, $until: desktop) {
        margin-right: 37px;
    }
    @include mq($from: desktop, $until: wide) {
        margin-right: 37px;
    }
    @include mq($from: wide) {
        margin-bottom: 126px;
        margin-left: -28px;
    }

 
    .terms-and-conditions__container {
        display: flex;
        justify-content: center;
        background-image: url("../assets/tc_bar.png");
        background-repeat: no-repeat;
        width: 367px;
        height: 63px;
        .terms-and-conditions__message {
            margin-top: 24px;
        }

        #checkBox {

            margin-top: 29px;
            margin-right: 16px;
            @include mq($from: tablet, $until: desktop) {
                //   margin-bottom: 12%;
               }
            @include mq($from: desktop, $until: wide) {
                //margin-bottom: 14%;
            }
            @include mq($from: wide) {
               
            }
           
        }
        @include mq($from: wide) {
            margin-top: -20px;
        }


    }
}




/* Facebook button */

.fb-login {
    display: flex;
    justify-content: center;
    margin-top: 56px;


    @include mq($from: wide) {
        margin-bottom: 20%;
        margin-top: 5px;
    }
}

.fb-button__container {
    padding-top: 18px;
    margin-left: 8px;
}
.fb-login__container {
    height: 40px;
    border-radius: 4px;
    max-width: 400px;
    min-width: initial;
    background-color: #4267b2;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    @include mq($from: wide) {
        margin-top: 18px;
    }
    .fb-login--disabled & {
        opacity: 0.5;
        cursor: not-allowed;
    }


    >table {
        max-width: 272px;
        min-width: initial;
        width: auto;
        height: 40px;
        table-layout: fixed;
        border: 0;
        border-collapse: collapse;
        border-spacing: 0;
        color: #fff;
        tbody {
            tr {
                .fb-login__icon {
                    width: 40px;
                    height: 40px;
                    padding-left: 0;
                    padding-bottom: 0;
                    padding-top: 0;
                    >div {
                        white-space: nowrap;
                        text-align: left;
                        span {
                            height: 24px;
                            margin: 8px;
                            float: left;
                            >svg {
                                height: 24px;
                                width: 24px;
                            }
                            >img {
                                display: none;
                                border: 0;
                                height: 24px;
                                width: 24px;
                            }
                        }
                    }
                }

                .fb-login__button {
                    padding-right: 0;
                    padding-top: 0;
                    padding-bottom: 0;
                    >button {
                        margin: 0 24px 0 12px;
                        font-size: 16px;
                        border: none;
                        font-family: Helvetica, Arial, sans-serif;
                        letter-spacing: .25px;
                        overflow: hidden;
                        text-align: center;
                        text-overflow: clip;
                        white-space: nowrap;
                        background-color: #4267b2;
                        color: white;
                    }
                }

            }
        }
    }
}