.landing {
    display: flex;
    flex-direction: column;

    background-image: url("../assets/landing.jpg");
    background-repeat: no-repeat;
    overflow-y: hidden;
    height: 5006px;
    overflow-x: hidden;

    @include mq($from: tablet, $until: desktop) {
        background-image: url("../assets/landing@2x.jpg");
        background-repeat: no-repeat;
        height: 3053px;
     //   height: 2037px;
    }


    @include mq($from: desktop, $until: wide) {
        background-image: url("../assets/landing@2x.jpg");
        background-repeat: no-repeat;
        height: 3053px;
    }


    @include mq($from: wide) {
        background-image: url("../assets/landing@2x.jpg");
        background-repeat: no-repeat;
        height: 4000px;
    }
}


.landing__container {
    height: 5005.99px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}



.logo {
    display: flex;
    justify-content: center;
    margin-top: 40px;

    @include mq($from: tablet, $until: desktop) {
        margin-top: 57px;
        
    }
    @include mq($from: desktop, $until: wide) {
        margin-top: 57px;
    }
    @include mq($from: wide) {
        margin-top: 57px;
    }

    .logo__image {
        background-image: url("../assets/TombRaider_logo_mobile.png");
        background-repeat: no-repeat;
        width: 249px;
        height: 66px;
        margin-top: 17px;
        //height: 40px;
        //width: 40px;
        @include mq($from: tablet) {
            background-image: url("../assets/logo@desktop.png");
            background-repeat: no-repeat;
            width: 328px;
            height: 82px;
            margin-top: 17px;
        }
    }


    @include mq($from: tablet) {
        .logo__image {
            background-image: url("../assets/logo@desktop.png");
            background-repeat: no-repeat;
            width: 328px;
            height: 82px;
            margin-top: 17px;
            //height: 40px;
            //width: 40px;
        }
    }
}




.underline {
    background-repeat: repeat-x;
  }

.underline--bacon:hover {
    background-image: url("../assets/underline.png");
    background-position: 0 0.96em;
    background-size: 28px 9px;

  }
  

.tc__tick {
    background-image: url("../assets/underline.png");
    background-repeat: no-repeat;
    width: 20px;
    height: 5px;
    background-size: contain;
}

footer {
    display: flex;
    justify-content: center;
}

.terms-and-conditions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
    letter-spacing: 1.5px;
    margin-bottom: 153px;
    @include mq($from: tablet, $until: desktop) {
        margin-right: 37px;
    }
    @include mq($from: desktop, $until: wide) {
        margin-right: 37px;
    }
    @include mq($from: wide) {
        margin-bottom: 179px;
        margin-left: -28px;
    }

 
    .terms-and-conditions__container {
        display: flex;
        justify-content: center;
        background-image: url("../assets/tc_bar.png");
        background-repeat: no-repeat;
        width: 367px;
        height: 63px;
        .terms-and-conditions__message {
            margin-top: 24px;
        }

        #checkBox {

            margin-top: 29px;
            margin-right: 16px;
            @include mq($from: tablet, $until: desktop) {
                //   margin-bottom: 12%;
               }
            @include mq($from: desktop, $until: wide) {
                //margin-bottom: 14%;
            }
            @include mq($from: wide) {
               
            }
           
        }
        @include mq($from: wide) {
            margin-top: -20px;
        }


    }
}




/* Facebook button */




    .fb-login--disabled{
        opacity: 0.5;
        cursor: not-allowed;
    }


.fb-button__container {
    padding-top: 18px;
    /* margin-left: 8px; */
    /* width: 215px; */
    display: flex;
    margin-right: 14px;
    justify-content: center;
    @include mq($from: tablet, $until: desktop) {
        //   margin-bottom: 12%;
       }
    @include mq($from: desktop, $until: wide) {
        //margin-bottom: 14%;
    }
    @include mq($from: wide) {
       
    }
}


.fb-login--disabled  {
    opacity: 0.5;
    cursor: not-allowed;
}
.btn-social > :first-child {
    position: absolute;
    left: 0;
    top: 3px !important;
    bottom: 0;
    width: 32px;
    line-height: 34px;
    font-size: 1.6em;
    text-align: center;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}


// obsolete
.fb-login__container {
    height: 40px;
    border-radius: 4px;
    max-width: 400px;
    min-width: initial;
    background-color: #4267b2;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    @include mq($from: tablet, $until: desktop) {
        //   margin-bottom: 12%;
       }
    @include mq($from: desktop, $until: wide) {
        //margin-bottom: 14%;
    }
    @include mq($from: wide) {
       
    }


    >table {
        max-width: 272px;
        min-width: initial;
        width: auto;
        height: 40px;
        table-layout: fixed;
        border: 0;
        border-collapse: collapse;
        border-spacing: 0;
        color: #fff;
        tbody {
            tr {
                .fb-login__icon {
                    width: 40px;
                    height: 40px;
                    padding-left: 0;
                    padding-bottom: 0;
                    padding-top: 0;
                    >div {
                        white-space: nowrap;
                        text-align: left;
                        span {
                            height: 24px;
                            margin: 8px;
                            float: left;
                            >svg {
                                height: 24px;
                                width: 24px;
                            }
                            >img {
                                display: none;
                                border: 0;
                                height: 24px;
                                width: 24px;
                            }
                        }
                    }
                }

                .fb-login__button {
                    padding-right: 0;
                    padding-top: 0;
                    padding-bottom: 0;
                    >button {
                        margin: 0 24px 0 12px;
                        font-size: 16px;
                        border: none;
                        font-family: Helvetica, Arial, sans-serif;
                        letter-spacing: .25px;
                        overflow: hidden;
                        text-align: center;
                        text-overflow: clip;
                        white-space: nowrap;
                        background-color: #4267b2;
                        color: white;
                    }
                }

            }
        }
    }
}