
.leaflet-control-zoom {
    display: none;
  }
  
  div.leaflet-top.leaflet-left {
    z-index: 5000 !important;
  }
  
  .leaflet-left .leaflet-control {
    margin-left: 0px;
  }
  
  .leaflet-top .leaflet-control {
    margin-top: 1px;
  }
  
  
  .leaflet-right .leaflet-control {
    //margin-right: -305px !important;
  }
  .tab__container.leaflet-control {

    transform: rotate(-90deg);
    top: 500px;
    /* margin-left: 300px; */
    right: -94px;
  }
  
  .leaflet-container {
    background: #D6CDCA !important;
  }
  
  