.container {
    display: flex;
}

.header {
    display: flex;
    flex-direction: column-reverse;
}

.header__container {
    background-image: url("../assets/headerTexture.png");
    background-repeat: no-repeat;
    text-decoration: white;
    padding-left: 206px;
    height: 122px;
    width: 97px;

    @include mq($from: tablet, $until: desktop) {
        text-decoration: white;
        padding-left: 206px;
        background-image: url("../assets/panelTexture@desktop.png");
        background-repeat: no-repeat;
        width: 431px;
        height: 185px;
        background-size: contain;
      }
      @include mq($from: desktop, $until: wide) {
          text-decoration: white;
          padding-left: 206px;
          background-image: url("../assets/panelTexture@desktop.png");
          background-repeat: no-repeat;
          width: 431px;
          height: 185px;
          background-size: contain;
          transition: height 400ms;
      }
      @include mq($from: wide) {
  
          height: 193px;
          width: 431px;
          padding-left: 206px;
          background-size: contain;
          background-image: url("../assets/panelTexture@desktop.png");
          background-repeat: no-repeat;
          transition: height 400ms;
      }

    .header__wrapper {
        position: absolute;
        margin-left: -203px;
        margin-top: 1px;

        @include mq($from: tablet, $until: desktop) {
            position: absolute;
            text-decoration: white;
            margin-left: -152px;
            margin-top: 11px;
           }
        @include mq($from: desktop, $until: wide) {
            position: absolute;
            text-decoration: white;
            margin-left: -152px;
            margin-top: 11px;
        }
        @include mq($from: wide) {
            position: absolute;
            text-decoration: white;
            margin-left: -152px;
            margin-top: 11px;
        }


    }
}

.search__container {
    .search__wrapper {
        display: flex;
        background-image: url("../assets/searchTexture.png");
        background-repeat: no-repeat;
        background-size: contain;
        width: 298px;
        height: 71px;

          @include mq($from: tablet, $until: desktop) {
            transition: height 700ms;
            transition: width 400ms;
            width: 362px;
            height: 69px;
          }
          @include mq($from: desktop, $until: wide) {
            transition: width 400ms;
            width: 362px;
            height: 70px;
          }
          @include mq($from: wide) {
            transition: height 400ms;
            width: 416px;
            height: 71px;
            
          }
        .search__input {
            font-family: 'PT Serif', serif;
            font-size: 22px;
            height: 24px;
            width: 289px;
            background: transparent;
            outline: none;
            border: none !important;

            text-decoration: none;
            margin-top: 10px;
            margin-left: 22px;

            @include mq($from: tablet, $until: desktop) {
                font-family: 'PT Serif', serif;
                height: 27px;
                width: 289px;
                background: transparent;
                outline: none;
                border: none !important;
                font-size: 26px;
                text-decoration: none;
                margin-top: 15px;
                margin-left: 38px;
            }
            @include mq($from: desktop, $until: wide) {
                font-family: 'PT Serif', serif;
                height: 27px;
                width: 289px;
                background: transparent;
                outline: none;
                border: none !important;
                font-size: 26px;
                text-decoration: none;
                margin-top: 15px;
                margin-left: 38px;
            }
            @include mq($from: wide) {
                font-family: 'PT Serif', serif;
                height: 27px;
                width: 289px;
                background: transparent;
                outline: none;
                border: none !important;
                font-size: 26px;
                text-decoration: none;
                margin-top: 15px;
                margin-left: 38px;
            }
            


        }
        .search__icon {
          background-image: url("../assets/searchIcon.png");
          background-repeat: no-repeat;
          margin-left: -75px;
          background-size: contain;
          padding-right: 9px;
          width: 35px;
          /* margin-right: 4px; */
          margin-top: 3px;
          cursor: pointer;

          @include mq($from: tablet, $until: desktop) {
            background-image: url("../assets/searchIcon@desktop.png");
            background-repeat: no-repeat;
            margin-left: -37px;
            background-size: contain;
            padding-right: 9px;
            width: 48px;
            margin-top: 2px;
            cursor: pointer;
        }
        @include mq($from: desktop, $until: wide) {
            background-image: url("../assets/searchIcon@desktop.png");
            background-repeat: no-repeat;
            margin-left: -29px;
            background-size: contain;
            padding-right: 9px;
            width: 48px;
            margin-top: 2px;
            cursor: pointer;
        }
        @include mq($from: wide) {
            background-image: url("../assets/searchIcon@desktop.png");
            background-repeat: no-repeat;
            margin-left: -27px;
            background-size: contain;
            padding-right: 9px;
            width: 56px;
            margin-top: 2px;
            cursor: pointer;
        }


        }
    }
}