.tomb-raider.app {

  @include media-query(lap-and-up) {
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 100%;
    width: 100%;
    overflow: visible;
  }

  // necessary to avoid scrolling the body when Layer is open
  &--hidden {
    position: fixed;
  }

  &--inline {
    position: relative;
  }

  &--centered {
    width: 100%;
    max-width: $center-column-width;
    margin-left: auto;
    margin-right: auto;
  }

  .app__announcer {
    left: -100%;
    right: 100%;
    z-index: -1;
    position: fixed;
  }
}


main {
  
  /* Full height */
  height: 100vh;
  width: 100%;
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
}

.map {
  height: 100vh;
}

.map__holder {
  position: relative;
}

.map__inner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.map__container {
  padding-top: 100vh;
  overflow: hidden;
  position: relative;
}

.panel {
  display: block;
  top: 50px;
  position: fixed;
  z-index: 2;
  margin-left: 2%;
}

html, body, #map {
  width:100%;
  height:100%;
  margin:0;
  padding:0;
  background-color: #B0B0B0
}

#map {
  position: absolute !important;
}

.leaflet-container {
  background: #D6CDCA !important;
}

.test-control{
  top: 50px;
  left: 100px;
  z-index: 3333;
}

.header {
  display: flex;
  /* justify-content: right; */
  flex-direction: column-reverse;
  background-image: url("../assets/headerTexture.png");
  background-repeat: no-repeat;
}

.header__container {
  text-decoration: white;
  padding-left: 206px;
  height: 122px;
}

.header__wrapper {
  text-decoration: white;
  background-image: url("../assets/searchTexture.png");
  background-repeat: no-repeat;
  margin-left: -203px;
  margin-top: 1px;
}

.search__input {
  height: 31px;
  width: 289px;
  background: transparent;
  outline: none;
  border: none !important;
  font-size: 26px;
  text-decoration: none;
  margin-top: 10px;
    margin-left: 22px;
}

.search__icon {
  background-image: url("../assets/searchIcon.png");
  background-repeat: no-repeat;

  padding: 20px;
  margin-top: -33px;
  margin-left: 292px;
}

.search__wrapper {

}


.markArrow {
  background-image: url("../assets/markArrow.png") !important;
  background-repeat: no-repeat !important;
}
.challenges {
  display: flex;

  margin-left: -16px;
  margin-top: 8px;
}

.profile {
  background-image: url("../assets/profileTexture.png") !important;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 17px;
  margin-top: 16px;
  margin-left: -3px;
}

.container {
  display: flex;
}

.profile__picture {
  background-repeat: no-repeat;
  background-size: contain;
  width: 53px;
  margin-top: -9px;
  margin-left: -4px;
  transform: rotate(-9deg);
}


.code__container {
  background-image: url("../assets/boxShort.png") !important;
  background-repeat: no-repeat;
  padding: 10px;
  height: 39px;
  margin-top: 0px;
  margin-left: -10px;
  margin-right: -5px;

  .code__text {
    margin-top: 7px;
    font-size: 16px;
  }
}


.popup__correct {
  bottom: -130px !important;
  left: -171px !important;
  width: 280px;
  &.leaflet-popup-content-wrapper {
    height: 350px;
  }
}

.leaflet-control-zoom {
  display: none;
}

div.leaflet-top.leaflet-left {
  z-index: 5000 !important;
}

.leaflet-left .leaflet-control {
  margin-left: 0px;
}

.leaflet-top .leaflet-control {
  margin-top: 1px;
}


.options__container {
  position: absolute;
  margin-top: 2px;
  height: 340px;
  margin-left: -375px;
  height: 515px;
  z-index: 1;
}
.options__wrapper.options__wrapper_opened {
  margin-left: -10px;
}
.options__wrapper {
  background-image: url("../assets/options.png") !important;
  background-repeat: no-repeat !important;
  width: 400px;
  height: 873px;

  padding-bottom: -5px;
  // padding-left: 48px;
  // padding-top: 51px;
  //padding-right: 49px;
  transition: 0.5s all ease;
}
.options__container.leaflet-control {
  transition: 1.5s all ease;
}


.leaflet-top.leaflet-left {
  display: flex;
  flex-direction: column;
}

.options__wrapper:focus {
 
  padding-left: 299px;
  transition: 2.15s all ease;
}

.onTop {
 // z-index: 3;
}

.fieldNotes__container {
  position: absolute;
  margin-left: -374px;
  z-index: 3;

}

.options__container.leaflet-control.onTop {
  margin-left: -677px;
}

.fieldNotes__wrapper_opened { 
  padding-left: 330px;
  transition: 0.5s all ease;
  margin-left: -300px;
}

.fieldNotes__wrapper {
  background-image: url("../assets/fieldNotes.png") !important;
  background-repeat: no-repeat !important;
  width: 400px;
  height: 852px;
  padding-bottom: -5px;
  // padding-left: 48px;
  // padding-top: 51px;
  //padding-right: 49px;
  transition: 0.5s all ease;
}


@media (max-width: 768px) {
  //extend less on a phone / iPad protrait etc
  .fieldNotes__wrapper_opened { 
    padding-left: 260px;
    transition: 0.5s all ease;
  }
}

.fieldNotes__wrapper_closed { 
  padding-left: 0px;
  transition: 0.5s all ease;
  transition: 0.5s all ease;
}



.fb_post_container {
  position: absolute;
  top: 517px;
  padding-left: 170px;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 38%;
  width: 350px;
}

.fb_post_container.fb_post_container__opened {
  transition: 0.5s all ease;
      margin-left: -373px;
}
.fb_post_container.fb_post_container__closed {
  transition: 0.5s all ease;
  margin-left: 0px;
}

@media (max-width: 768px) {
  .fb_post_container {
    // the minimum size FB supports rendering is 350
    // but this just doesnt fit on most phones with the tabs (esp iph5 only 320px!)
    // so we'll also use zoom to shrink it down
    zoom: 0.8; 
  }
}

.leaflet-right .leaflet-control {
  margin-right: -305px !important;
}

.challenge__container {

}

.tab__container  {
  margin-top: -54px !important;
}

 input, textarea {
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.challenge__wrapper {

  margin-left: 31px;
  margin-top: 9px;
  /* margin-right: -2px; */
  padding-right: 28px;
}

.challenge__1 {
  background-image: url("../assets/code1.png") !important;
  background-repeat: no-repeat !important;
  padding-top: 18px;
  width: 34px;
  padding-bottom: 17px;
  padding-left: -3px;
  padding-right: 0px;

  &.challenge__1--complete {
    background-image: url("../assets/code1_complete.png") !important;
  }
}

.challenge__2 {
  background-image: url("../assets/code2.png") !important;
  background-repeat: no-repeat !important;
  padding-top: 18px;
  width: 34px;
  padding-bottom: 17px;
  padding-left: -3px;
  padding-right: 0px;

  &.challenge__2--complete {
    background-image: url("../assets/code2_complete.png") !important;
  }
}

.challenge__3 {
  background-image: url("../assets/code3.png") !important;
  background-repeat: no-repeat !important;
  padding-top: 18px;
  width: 34px;
  padding-bottom: 17px;
  padding-left: -3px;
  padding-right: 0px;

  &.challenge__3--complete {
    background-image: url("../assets/code3_complete.png") !important;
    
  }
}

.challenge__4 {
  background-image: url("../assets/code4.png") !important;
  background-repeat: no-repeat !important;
  padding-top: 18px;
  width: 34px;
  padding-bottom: 17px;
  padding-left: -3px;
  padding-right: 0px;

  &.challenge__4--complete {
    background-image: url("../assets/code4_complete.png") !important;
  }
}

.challenge__5 {
  background-image: url("../assets/code5.png") !important;
  background-repeat: no-repeat !important;
  padding-top: 18px;
  width: 34px;
  padding-bottom: 17px;
  padding-left: -3px;
  padding-right: 0px;

  &.challenge__5--complete {
    background-image: url("../assets/code5_complete.png") !important;
  }
}

.search__icon {
  cursor: pointer;
}
.profile__picture {
  cursor: pointer;
}


.leaflet-popup-content-wrapper, .leaflet-popup-tip {
  background: transparent;
  color: none;
  box-shadow: none
}

.leaflet-popup-content {
 // margin: -10px 19px;
 // line-height: 1.4;
}

.popup__correct .leaflet-popup-content-wrapper {
  background-image: url("../assets/codePage.png") !important;
  background-repeat: no-repeat !important;
  height: 419px;
 
  left: -186px !important;
}

.leaflet-popup-content {
  font-family: 'Caveat', cursive;
}

.note {
  padding-top: 9px;
  margin-left: 12px;
  .note__header {
    font-size: 25px;
  }

  .note__message {
    font-size: 18px;
    margin-top: 12px;
  }
}

.view > img {
  width: 58px;
  margin-top: 11px;
}

.viewcode {
  background-image: url("../assets/popup.png") !important;
  background-repeat: no-repeat !important;
  margin-left: 7px;
  /* margin-top: 8px; */
  padding-top: 9px;
  padding-bottom: 8px;
  bottom: -188px !important;
  left: -205px !important;

  >.leaflet-popup-content {
    width: 259px;
  }

  .viewcode__header {
    font-size: 25px;
  }

  .viewcode__message {
    font-size: 18px;
    margin-top: 12px;
    width: 262px;
  }

  .viewcode__button {
    font-size: 18px;
    margin-top: 11px;
  }

  .view {
    display: -webkit-inline-box;
    margin-left: 107px;
  }
}

.leaflet-pane.leaflet-marker-pane{
  display: none;
}
.leaflet-container a.leaflet-popup-close-button  {

}

.popup__correct .leaflet-popup-close-button {
  top: 11px !important;
  color: black !important;
}