
/*!
 * inuitcss, by @csswizardry
 *
 * github.com/inuitcss | inuitcss.com
 */
///*------------------------------------*\
//    #DEFAULTS
//\*------------------------------------*/

// These variables are inuitcss’ defaults; they should not be modified or
// adjusted directly; you should predefine the variables in your own project.





// High-level base settings.
$inuit-base-font-size:          16px !default;
$inuit-base-line-height:        24px !default;
$inuit-base-text-color:         #333 !default;
$inuit-base-background-color:   #fff !default;





// Namespace.
//
// Would you like inuitcss’ classes to be prepended with a namespace? If so,
// define it here.
$inuit-namespace:               null !default;





// These variables are framework variables, sourced from variables defined
// above. Feel free to use these variables throughout your project, but do not
// modify or reassign them.
$inuit-base-spacing-unit:           $inuit-base-line-height;
$inuit-base-spacing-unit--tiny:     round($inuit-base-spacing-unit / 4);
$inuit-base-spacing-unit--small:    round($inuit-base-spacing-unit / 2);
$inuit-base-spacing-unit--large:    round($inuit-base-spacing-unit * 2);
$inuit-base-spacing-unit--huge:     round($inuit-base-spacing-unit * 4);



$border-radius: 4px !default;

// header/footer vertical sizing
$small-header-height: round($inuit-base-spacing-unit * 2) !default;
$header-height: round($inuit-base-spacing-unit * 3) !default;
$large-header-height: round($inuit-base-spacing-unit * 4) !default;
$small-footer-height: round($inuit-base-spacing-unit) !default;
$footer-height: round($inuit-base-spacing-unit * 1.5) !default;
$large-footer-height: round($inuit-base-spacing-unit * 4) !default;

$readable-text-width: round($inuit-base-spacing-unit * 24) !default; // 576px

$size-xxsmall: round($inuit-base-spacing-unit * 2) !default; // 48px
$size-xsmall: round($inuit-base-spacing-unit * 4) !default; // 96px
$size-small: round($inuit-base-spacing-unit * 8) !default; // 192px
$size-medium: round($inuit-base-spacing-unit * 16) !default; // 384px
$size-large: round($inuit-base-spacing-unit * 24) !default; // 576px
$size-xlarge: round($inuit-base-spacing-unit * 30) !default; // 720px
$size-xxlarge: round($inuit-base-spacing-unit * 40) !default; // 960px

$center-column-width: round($inuit-base-spacing-unit * 48) !default; // 1152px;
$break-palm-max-width: 44.9375em !default;
$break-lap-and-up-min-width: 45em !default;
$break-portable-max-width: 63.9375em !default;

$breakpoints: (
    "palm"          "screen and (max-width: #{$break-palm-max-width})",
    "lap-and-up"    "screen and (min-width: #{$break-lap-and-up-min-width})",
    "portable"      "screen and (max-width: #{$break-portable-max-width})"
) !default;

$brand-link-text-decoration: none !default;

$button-text-transform: none !default;

$base-animation-duration: 0.3s;

$inuit-namespace: 'i-';

///*------------------------------------*\
//    #DEFAULTS
//\*------------------------------------*/

// These variables are inuitcss’ defaults; they should not be modified or
// adjusted directly; you should predefine the variables in your own project.





// High-level base settings.
$inuit-base-font-size:          16px !default;
$inuit-base-line-height:        24px !default;
$inuit-base-text-color:         #333 !default;
$inuit-base-background-color:   #fff !default;

// Namespace.
//
// Would you like inuitcss’ classes to be prepended with a namespace? If so,
// define it here.
$inuit-namespace:               null !default;





// These variables are framework variables, sourced from variables defined
// above. Feel free to use these variables throughout your project, but do not
// modify or reassign them.
$inuit-base-spacing-unit:           $inuit-base-line-height;
$inuit-base-spacing-unit--tiny:     round($inuit-base-spacing-unit / 4);
$inuit-base-spacing-unit--small:    round($inuit-base-spacing-unit / 2);
$inuit-base-spacing-unit--large:    round($inuit-base-spacing-unit * 2);
$inuit-base-spacing-unit--huge:     round($inuit-base-spacing-unit * 4);


$brand-color: #8C50FF !default;
$text-color: #333 !default;
$hover-text-color: #000 !default;
$placeholder-text-color: #aaa !default;
$border-color: rgba(0, 0, 0, 0.15) !default;
$heading-text-color: $text-color !default;
